body {
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
  }
  
  main {
    margin: 20px auto;
  }
  
  #movie-details img {
    border: 2px solid #ccc;
  }
  
  footer {
    background-color: #222;
    color: #fff;
  }
  